<ion-content>
  <ion-grid class="container ion-no-padding">
    <ion-list lines="none" class="candidate-list" [class.blur]="castingVote">
      <ion-virtual-scroll [items]="candidatesService.candidates"  approxItemHeight="240px">
        <ion-item color="primary"  *virtualItem="let candidate" (click)="addCandidate(candidate.cid)">
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-no-padding">
              <ion-col size="2.25" class="img-container">
                <ion-img src='/assets/icon/avatar.png'></ion-img>
                <!-- <ion-img src="/assets/icon/ela-logo.svg"></ion-img> -->
              </ion-col>
              <ion-col size="8.25">
                <ion-label>
                  <h4>{{ candidate.nickname }}</h4>
                  <p>
                    <span>
                      <ion-icon name="pin"></ion-icon> {{ candidate.location }}
                    </span>
                    &nbsp; {{ candidate.votes }} votes
                  </p>
                </ion-label>
              </ion-col>
              <ion-col *ngIf="selectedCandidates.includes(candidate.cid)"size="1.5" class="check-container">
                <ion-icon name="checkmark"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-virtual-scroll>
    </ion-list>

    <div class="spinner-container" *ngIf="castingVote">
      <ion-spinner name="bubbles" color="success"></ion-spinner>
    </div>
  </ion-grid>

  <div class="ballot-box" (click)="castVote()">
    <ion-img src='/assets/images/cybericon.svg'></ion-img>
    <h1>CAST  VOTE</h1>
  </div>

</ion-content>
